* {
    margin: 0; 
    padding: 0;
}

#gameGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    width: 600px;
    border: 20px solid #585858;
    border-radius: 10px;
    background-color: #585858;
}
#header {
    height: 20px;
}
.gameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    height: 180px;
    font-family: 'Nunito', sans-serif;
    box-shadow: inset 0 0 15px black;
    background-color: #585858;
    border: 1px solid black;
    text-shadow: 0 5px 5px black;

}

#gameDisplay, #playerButtons {
    display: flex;
    justify-content: center;
}
