#gameGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 600px;
    border: 10px solid;
    border-radius: 10px;
    background-color: black;
}
#header {
    height: 20px;
}
.gameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    height: 200px;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 0 5px black;
    background-color: white;
}

#gameDisplay, #playerButtons {
    display: flex;
    justify-content: center;
}
